Repository Tosinfamzy/games-night-api, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, database, games, tests, docs, config, ci, dependencies

.github/labeler.yml:

# Simplified labeler configuration
# Automatically add labels to PRs based on changed files

# Backend/API changes
backend:
  - 'src/**'

# Database related changes
database:
  - 'src/database/**'
  - 'src/config/data-source.ts'
  - '**/*migration*'

# Game features
games:
  - 'src/games/**'
  - 'src/scoring/**'

# Testing
tests:
  - 'test/**'
  - '**/*.spec.ts'
  - '**/*.test.ts'

# Documentation
docs:
  - '*.md'
  - 'docs/**'

# Configuration
config:
  - '*.json'
  - '*.yml'
  - '*.yaml'
  - 'Dockerfile*'
  - 'docker-compose*'

# CI/CD
ci:
  - '.github/**'

# Dependencies
dependencies:
  - 'package.json'
  - 'package-lock.json'

skip db operations
  .github/workflows/ci.yml
Labels: ci

clean up readme and CI
  .github/workflows/ci.yml
  README.md
Labels: docs, ci

clean up docker
  Dockerfile
Labels: config

clean up
  .github/workflows/pr-automation.yml
Labels: ci

fix all the failing test
  src/games/games.service.spec.ts
  src/gateways/score.gateway.ts
  src/gateways/teams.gateway.ts
  src/players/entities/player.entity.ts
  src/players/players.service.spec.ts
  src/players/players.service.ts
  src/scoring/entities/scoring.entity.ts
  src/scoring/scoring.service.spec.ts
  src/scoring/scoring.service.ts
  src/sessions/sessions.service.spec.ts
  src/teams/entities/team.entity.ts
  src/teams/teams.service.spec.ts
  src/teams/teams.service.ts
Labels: backend, games, tests

fixing ci
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/release.yml
  package.json
Labels: config, ci, dependencies

fix lint
  eslint.config.js
  package-lock.json
  package.json
  src/analytics/analytics.service.ts
  src/analytics/entities/game-analytics.entity.ts
  src/games/dto/add-player.dto.ts
  src/games/dto/game-setup.dto.ts
  src/games/entities/game-participant.entity.ts
  src/games/game-rules.service.ts
  src/games/games.controller.spec.ts
  src/games/games.controller.ts
  src/games/games.service.ts
  src/gateways/teams.gateway.ts
  src/players/players.controller.spec.ts
  src/scoring/scoring.controller.spec.ts
  src/sessions/dto/create-random-teams.dto.ts
  src/sessions/sessions.controller.spec.ts
  src/teams/teams.controller.spec.ts
Labels: backend, games, tests, config, dependencies

audit moderate
  .github/workflows/code-quality.yml
Labels: ci

more testing cleanup
  .github/workflows/code-quality.yml
Labels: ci

remove bundle
  .github/workflows/code-quality.yml
Labels: ci

audit crash
  .github/workflows/code-quality.yml
Labels: ci

use nodenext
  package.json
  tsconfig.json
Labels: config, dependencies

revert to eslint v8
  .github/workflows/code-quality.yml
  eslint.config.js
  package-lock.json
  package.json
  test/app.e2e-spec.ts
Labels: tests, config, ci, dependencies

remove audit
  .github/workflows/ci.yml
Labels: ci

linting unblocking run
  .github/workflows/ci.yml
Labels: ci

linting unblocking run
  .github/workflows/ci.yml
Labels: ci

rm other workflow
  .github/workflows/code-quality.yml
Labels: ci

update readme
  README.md
Labels: docs
